/* ФОН */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #100614;    
  }




/* ЧАТ */
  .ChatContainer {
    border: 2px solid #4a224d;  
    border-radius: 4px;
    box-shadow: 0px 0px 10px 10px rgba(175, 11, 175, 0.5);
    padding: 10px;
    height: 600px;
    max-width: 600px; 
    overflow-y: auto;
    margin: 0 auto;
    color: rgb(255, 255, 255);  
  }
  
  .message {
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #29242c;
  }
 
  /* ФИКСИРОВАННЫЙ РАЗМЕР ПИКЧИ */
  .sent-image {
    max-width: 200px; 
    max-height: 200px; 
    border-radius: 5px;
    margin-left: 10px;
  }
 
  
 
  
  /* НИЖНЯЯ ПАНЕЛЬ */

   .nickname {
     font-weight: bold;  
     color: rgb(155, 106, 155); 
  } 
/* Стили для основного текста */
.message-text {
    color: rgb(255, 255, 255); 
  }

 .chat-input {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center; /* Центрируем содержимое по вертикали   */
  } 

  
/* Стили для поля ввода никнейма */
.nickname-input {
    
    color: rgb(255, 255, 255); 
    width: 100px;
    border: 2px solid #4a224d;
    box-shadow: 0px 0px 10px 3px rgba(175, 11, 175, 0.5);
    background-color: #29242c;
    border-radius: 5px; /* Закругление плейсхолдера */
    padding: 8px; /* Добавляем отступы вокруг плейсхолдера */
    
  }
  .text-input{
    margin-left: 3px;
    color: rgb(255, 255, 255); 
    width: 312px;
    border: 2px solid #4a224d; 
    box-shadow: 5px 0px 10px 3px rgba(175, 11, 175, 0.5);   
    background-color: #29242c; 
    border-radius: 5px; 
    padding: 8px; 
  }
  
  /* Стили для кнопки */
  button {
    width: 120px;
    padding: 8px 16px;
    background-color: #29242c;
    color: #8b8b8b;
    border: 2px solid #4a224d; 
    box-shadow: 0px 0px 10px 3px rgba(175, 11, 175, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #201d22;
    
  } 
  /* Стили для кастомной кнопки выбора файла с изображением */
  .custom-file-upload {
    
    padding: 0; /* Убираем отступы, чтобы изображение занимало всю область кнопки */
    width: 50px; 
    height: 50px; 
    display: inline-block;
    cursor: pointer;
 
    background-image: url('clip.png'); 
    background-size: cover; /* Растягиваем изображение, чтобы оно занимало всю область кнопки */
    /* filter: blur(5px); Добавляем заблюренный эффект */
    opacity: 0.7; /* Задаем прозрачность фонового изображения */
  }  
  /* Скрытие стандартной кнопки выбора файла */
  input[type='file'] {
    display: none;
  }
  .custom-file-upload:hover{    
    filter: blur(1px);
  }
  