/* Стили для обертки страницы */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Минимальная высота всей страницы */
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  /* Стили для контейнера с чатом и формой ввода */
  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Занимать всю высоту родительского контейнера */
    overflow: auto; /* Если содержимое превышает высоту, появляется полоса прокрутки */
  }
  
  /* Другие стили для вашего приложения */
  .send-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }  