h1 {    
    color: #a65500;
    text-align: center;
    font-size: 54px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
  }
  body {
    background-image: url('pic.jpg');
    background-repeat: repeat; 
  }
  form {
    background-color: #eb9e4d;    
    padding: 20px;
    border: 1px solid #925008;
    margin: 0 auto;
    max-width: 400px;
  }
  input[type="text"]::placeholder {    
    background-color: #f3bf87;
    font-size: 24px;
    font-family: 'Caveat', cursive;     
  }  
  input[type="text"] {
    color: #925008;
    padding: 10px;
    background-color: #f3bf87;
    border: 1px  #b16f29;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button {
    background-color: #a65500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    font-size: 24px;
    font-family: 'Caveat', cursive; 
  }
  button:hover {
    background-color: #df984d; /* Измененный цвет фона при наведении */
  }

  table {    
    border-collapse: collapse;    
    width: 36%;
    margin: 0 auto;
  }
  
  th {
    background-color: #ffa240;
    color: #333;
    padding: 8px;    
    text-align: center;   
    width: 10%; 
          
  }

  tr, td  {
    background-color: #e6e6e6;
    color: #572e02;      
    border: 1px solid #a65500;
    padding: 8px;    
    text-align: center;
    
  }
  th{
    font-size: 28px;    
  }
  td{
    font-size: 24px;
    color: #572e02;
  }
  th, td, th {
    font-family: 'Caveat', cursive;
  }

 
  .tasks tbody tr td:nth-child(1) {
    background-color: #ffbb73; /* Цвет фона для первого столбца */
  }  
  .tasks tbody tr td:nth-child(2) {
    background-color: #f8ae5e; /* Цвет фона для второго столбца */
  }  
  .tasks tbody tr td:nth-child(3) {
    background-color: #f19f46; /* Цвет фона для третьего столбца */
  }


  .delete-button{ /* дизайн для кнопок удалить */
    background-color: #a65500; 
    color: #fff; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .delete-button:hover { /* Измененный цвет фона при наведении */
    background-color: #df984d; 
  }

  .task input[type="checkbox"] {
    margin-right: auto; /* Расстояние между маркером и текстом задачи */
  }  
  /* Стиль для задачи, когда она выполнена */
  .task input[type="checkbox"]:checked + .title-task {
    text-decoration: line-through; /* Зачеркнутый текст, когда задача выполнена */
    color: #c08b57;
  }

  .custom-link { /* для ссылок*/
    font-size: 20px;
    font-family: 'Caveat', cursive; 
    color: #b16f29;
  }

  body.dark-theme {
    background-image: url('dark_background.jpg'); /* Замените на свою картинку для темной темы */
  }
  body.dark-theme button {
    background-color: #726161; /* Изменяем цвет фона кнопок */
    color: #bdb6b6; /* Изменяем цвет текста на кнопках */
  }
  body.dark-theme button:hover {
    background-color: #3d3c3c; /* Изменяем цвет фона кнопок */
    color: #bdb6b6; /* Изменяем цвет текста на кнопках */
  }
  .dark-theme .delete-button {
    background-color: #726161; /* Новый цвет фона для кнопок с классом delete-button в темной теме */
    color: #d8d5d5; /* Новый цвет текста для кнопок с классом delete-button в темной теме */
  }
  .delete-button:hover { /* Измененный цвет фона при наведении */
    background-color: #4b4343; 
  }

  .dark-theme .tasks tbody tr td:nth-child(1) {
    background-color: #8f8d91; /* Цвет фона для первого столбца */
  }  
  .dark-theme .tasks tbody tr td:nth-child(2) {
    background-color: #7a777a; /* Цвет фона для второго столбца */
  }  
  .dark-theme .tasks tbody tr td:nth-child(3) {
    background-color: #575657; /* Цвет фона для третьего столбца */
  }
  .dark-theme .title-task{
    color: white
  }
  .dark-theme th{
    color: white;
    background-color: #2c2b2b;
  }
  .dark-theme td{          
    border: 1px solid #ffffff;  
  }
  .dark-theme tr{          
    border: 1px solid #ffffff;  
  }

  .dark-theme .custom-link { /* для ссылок*/
    color: #ffffff;
  }
  .dark-theme h1 {    
    color: white;
  }
  .dark-theme   .task input[type="checkbox"]:checked + .title-task {
    color: rgb(63, 63, 63)
  }
  .dark-theme form {
    background-color: #a19e9a;  
    border: 1px solid #ffffff; 
  }
  .dark-theme  input[type="text"]::placeholder {    
    background-color: #5e5b5b;
    color: rgb(255, 255, 255);    
  } 
  .dark-theme .zalupa{
    background-color: #5e5b5b;
    color: white;
  }